In [3]:
data = pd.read_csv('../../private_WY/largeDataset/full_merged_dataset_v1.csv', parse_dates=['date'])
print(data.shape)
data.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,18,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(4617600, 29)

,date,year,month,day,dayofweek,weekday,weekend,tmax,tmin,tavg,...,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,station_nbr,store_nbr,item_nbr,units
0,2012-01-01,2012,1,1,6,False,True,52,31,42,...,0.05,29.78,29.92,3.6,20,4.6,1,1,1,0
1,2012-01-01,2012,1,1,6,False,True,52,31,42,...,0.05,29.78,29.92,3.6,20,4.6,1,1,2,0
2,2012-01-01,2012,1,1,6,False,True,52,31,42,...,0.05,29.78,29.92,3.6,20,4.6,1,1,3,0
3,2012-01-01,2012,1,1,6,False,True,52,31,42,...,0.05,29.78,29.92,3.6,20,4.6,1,1,4,0
4,2012-01-01,2012,1,1,6,False,True,52,31,42,...,0.05,29.78,29.92,3.6,20,4.6,1,1,5,0

In [6]:
data.columns

Index(['date', 'year', 'month', 'day', 'dayofweek', 'weekday', 'weekend',
       'tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'sunrise', 'sunset', 'codesum', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       'station_nbr', 'store_nbr', 'item_nbr', 'units'],
      dtype='object')

In [7]:
def ch_codesum(codesum):
    if codesum == ' ':
        return "Plain"
    else:
        return codesum

In [8]:
data['codesum'] = data['codesum'].apply(ch_codesum)

In [10]:
def compare_codesum(codesum):
    if codesum =="Plain":
        return codesum
    else:
        return "Abnormal"

In [11]:
data["Cdsm_Ch"] = data['codesum'].apply(compare_codesum)

### load 'holiday' data

In [36]:
holiday = pd.read_csv('../data/04. holiday_data')

In [37]:
holiday = holiday.drop('Unnamed: 0', axis=1)

In [38]:
holiday.tail()

    year       day         date       holiday
26  2014    Monday  September01      LaborDay
27  2014    Monday    October13   ColumbusDay
28  2014   Tuesday   November11   VeteransDay
29  2014  Thursday   November27  Thanksgiving
30  2014  Thursday   December25  ChristmasDay

In [39]:
def convert_day(day):
    if day == 'Monday':
        return 'Mon'
    elif day == 'Tuesday':
        return 'Tue'
    elif day == 'Wednesday':
        return 'Wed'
    elif day == 'Thursday':
        return 'Thu'
    elif day == 'Friday':
        return 'Fri'
    elif day == 'Saturday':
        return 'Sat'
    elif day == 'Sunday':
        return 'Sat'

In [40]:
holiday['dayofweek'] = holiday['day'].apply(convert_day)

In [41]:
holiday = holiday.drop('day', axis=1)

In [42]:
holiday.tail()

    year         date       holiday dayofweek
26  2014  September01      LaborDay       Mon
27  2014    October13   ColumbusDay       Mon
28  2014   November11   VeteransDay       Tue
29  2014   November27  Thanksgiving       Thu
30  2014   December25  ChristmasDay       Thu

In [43]:
def apply_day(date):
    return date[-2:]

In [44]:
holiday['day'] = holiday['date'].apply(apply_day)

In [45]:
holiday

    year         date                 holiday dayofweek day
0   2012    January02     NewYearsDay(inlieu)       Mon  02
1   2012    January16  MartinLutherKingJr.Day       Mon  16
2   2012   February20          Presidents'Day       Mon  20
3   2012        May28             MemorialDay       Mon  28
4   2012       July04         IndependenceDay       Wed  04
5   2012  September03                LaborDay       Mon  03
6   2012    October08             ColumbusDay       Mon  08
7   2012   November12             VeteransDay       Mon  12
8   2012   November22            Thanksgiving       Thu  22
9   2012   November23    DayafterThanksgiving       Fri  23
10  2012   December25            ChristmasDay       Tue  25
11  2013    January01             NewYearsDay       Tue  01
12  2013    January21  MartinLutherKingJr.Day       Mon  21
13  2013   February18          Presidents'Day       Mon  18
14  2013        May27             MemorialDay       Mon  27
15  2013       July04         IndependenceDay       Thu  04
16  2013  September02                LaborDay       Mon  02
17  2013    October14             ColumbusDay       Mon  14
18  2013   November11             VeteransDay       Mon  11
19  2013   November28            Thanksgiving       Thu  28
20  2013   December25            ChristmasDay       Wed  25
21  2014    January01             NewYearsDay       Wed  01
22  2014    January20  MartinLutherKingJr.Day       Mon  20
23  2014   February17          Presidents'Day       Mon  17
24  2014        May26             MemorialDay       Mon  26
25  2014       July04         IndependenceDay       Fri  04
26  2014  September01                LaborDay       Mon  01
27  2014    October13             ColumbusDay       Mon  13
28  2014   November11             VeteransDay       Tue  11
29  2014   November27            Thanksgiving       Thu  27
30  2014   December25            ChristmasDay       Thu  25

In [46]:
def apply_month(date):
    return date[:-2]

In [47]:
holiday['month'] = holiday['date'].apply(apply_month)

In [49]:
def convert_month(month):
    if month == 'January':
        return '01'
    elif month == 'February':
        return '02'
    elif month == 'March':
        return '03'
    elif month == 'April':
        return '04'
    elif month == 'May':
        return '05'
    elif month == 'June':
        return '06'
    elif month == 'July':
        return '07'
    elif month == 'August':
        return '08'
    elif month == 'September':
        return '09'
    elif month == 'October':
        return '10'
    elif month == 'November':
        return '11'
    elif month == 'December':
        return '12'

In [50]:
holiday['month'] = holiday['month'].apply(convert_month)

In [53]:
holiday = holiday.drop('date', axis = 1)

In [62]:
holiday2 = pd.DataFrame(columns=['year', 'month', 'day', 'dayofweek', 'holiday'])

In [64]:
holiday2['year'] = holiday['year']
holiday2['month'] = holiday['month']
holiday2['day'] = holiday['day']
holiday2['dayofweek'] = holiday['dayofweek']
holiday2['holiday'] = holiday['holiday']

In [66]:
holiday = holiday2

In [67]:
holiday

    year month day dayofweek                 holiday
0   2012    01  02       Mon     NewYearsDay(inlieu)
1   2012    01  16       Mon  MartinLutherKingJr.Day
2   2012    02  20       Mon          Presidents'Day
3   2012    05  28       Mon             MemorialDay
4   2012    07  04       Wed         IndependenceDay
5   2012    09  03       Mon                LaborDay
6   2012    10  08       Mon             ColumbusDay
7   2012    11  12       Mon             VeteransDay
8   2012    11  22       Thu            Thanksgiving
9   2012    11  23       Fri    DayafterThanksgiving
10  2012    12  25       Tue            ChristmasDay
11  2013    01  01       Tue             NewYearsDay
12  2013    01  21       Mon  MartinLutherKingJr.Day
13  2013    02  18       Mon          Presidents'Day
14  2013    05  27       Mon             MemorialDay
15  2013    07  04       Thu         IndependenceDay
16  2013    09  02       Mon                LaborDay
17  2013    10  14       Mon             ColumbusDay
18  2013    11  11       Mon             VeteransDay
19  2013    11  28       Thu            Thanksgiving
20  2013    12  25       Wed            ChristmasDay
21  2014    01  01       Wed             NewYearsDay
22  2014    01  20       Mon  MartinLutherKingJr.Day
23  2014    02  17       Mon          Presidents'Day
24  2014    05  26       Mon             MemorialDay
25  2014    07  04       Fri         IndependenceDay
26  2014    09  01       Mon                LaborDay
27  2014    10  13       Mon             ColumbusDay
28  2014    11  11       Tue             VeteransDay
29  2014    11  27       Thu            Thanksgiving
30  2014    12  25       Thu            ChristmasDay

#### save holiday as csv

In [68]:
holiday.to_csv('holiday')

In [70]:
test = pd.read_csv('holiday', index_col = 0)
test

    year  month  day dayofweek                 holiday
0   2012      1    2       Mon     NewYearsDay(inlieu)
1   2012      1   16       Mon  MartinLutherKingJr.Day
2   2012      2   20       Mon          Presidents'Day
3   2012      5   28       Mon             MemorialDay
4   2012      7    4       Wed         IndependenceDay
5   2012      9    3       Mon                LaborDay
6   2012     10    8       Mon             ColumbusDay
7   2012     11   12       Mon             VeteransDay
8   2012     11   22       Thu            Thanksgiving
9   2012     11   23       Fri    DayafterThanksgiving
10  2012     12   25       Tue            ChristmasDay
11  2013      1    1       Tue             NewYearsDay
12  2013      1   21       Mon  MartinLutherKingJr.Day
13  2013      2   18       Mon          Presidents'Day
14  2013      5   27       Mon             MemorialDay
15  2013      7    4       Thu         IndependenceDay
16  2013      9    2       Mon                LaborDay
17  2013     10   14       Mon             ColumbusDay
18  2013     11   11       Mon             VeteransDay
19  2013     11   28       Thu            Thanksgiving
20  2013     12   25       Wed            ChristmasDay
21  2014      1    1       Wed             NewYearsDay
22  2014      1   20       Mon  MartinLutherKingJr.Day
23  2014      2   17       Mon          Presidents'Day
24  2014      5   26       Mon             MemorialDay
25  2014      7    4       Fri         IndependenceDay
26  2014      9    1       Mon                LaborDay
27  2014     10   13       Mon             ColumbusDay
28  2014     11   11       Tue             VeteransDay
29  2014     11   27       Thu            Thanksgiving
30  2014     12   25       Thu            ChristmasDay

In [249]:
def convert_day(day):
    if day == 'Monday':
        return 0
    elif day == 'Tuesday':
        return 1
    elif day == 'Wednesday':
        return 2
    elif day == 'Thursday':
        return 3
    elif day == 'Friday':
        return 4
    elif day == 'Saturday':
        return 5
    elif day == 'Sunday':
        return 6

In [250]:
holiday['dayofweek'] = holiday['day'].apply(convert_day)

In [251]:
holiday = holiday.drop('day', axis=1)

In [252]:
holiday

    year         date                 holiday  dayofweek
0   2012    January02     NewYearsDay(inlieu)          0
1   2012    January16  MartinLutherKingJr.Day          0
2   2012   February20          Presidents'Day          0
3   2012        May28             MemorialDay          0
4   2012       July04         IndependenceDay          2
5   2012  September03                LaborDay          0
6   2012    October08             ColumbusDay          0
7   2012   November12             VeteransDay          0
8   2012   November22            Thanksgiving          3
9   2012   November23    DayafterThanksgiving          4
10  2012   December25            ChristmasDay          1
11  2013    January01             NewYearsDay          1
12  2013    January21  MartinLutherKingJr.Day          0
13  2013   February18          Presidents'Day          0
14  2013        May27             MemorialDay          0
15  2013       July04         IndependenceDay          3
16  2013  September02                LaborDay          0
17  2013    October14             ColumbusDay          0
18  2013   November11             VeteransDay          0
19  2013   November28            Thanksgiving          3
20  2013   December25            ChristmasDay          2
21  2014    January01             NewYearsDay          2
22  2014    January20  MartinLutherKingJr.Day          0
23  2014   February17          Presidents'Day          0
24  2014        May26             MemorialDay          0
25  2014       July04         IndependenceDay          4
26  2014  September01                LaborDay          0
27  2014    October13             ColumbusDay          0
28  2014   November11             VeteransDay          1
29  2014   November27            Thanksgiving          3
30  2014   December25            ChristmasDay          3

In [253]:
def apply_day(date):
    return date[-2:]

In [254]:
holiday['day'] = holiday['date'].apply(apply_day)

In [255]:
holiday.loc[0]['date'][:-2]

'January'

In [256]:
def apply_month(date):
    return date[:-2]

In [257]:
holiday['month'] = holiday['date'].apply(apply_month)

In [258]:
def convert_month(month):
    if month == 'January':
        return '01'
    elif month == 'February':
        return '02'
    elif month == 'March':
        return '03'
    elif month == 'April':
        return '04'
    elif month == 'May':
        return '05'
    elif month == 'June':
        return '06'
    elif month == 'July':
        return '07'
    elif month == 'August':
        return '08'
    elif month == 'September':
        return '09'
    elif month == 'October':
        return '10'
    elif month == 'November':
        return '11'
    elif month == 'December':
        return '12'

In [259]:
holiday['month'] = holiday['month'].apply(convert_month)

In [260]:
holiday = holiday.drop('date', axis = 1)

In [261]:
holiday

    year                 holiday  dayofweek day month
0   2012     NewYearsDay(inlieu)          0  02    01
1   2012  MartinLutherKingJr.Day          0  16    01
2   2012          Presidents'Day          0  20    02
3   2012             MemorialDay          0  28    05
4   2012         IndependenceDay          2  04    07
5   2012                LaborDay          0  03    09
6   2012             ColumbusDay          0  08    10
7   2012             VeteransDay          0  12    11
8   2012            Thanksgiving          3  22    11
9   2012    DayafterThanksgiving          4  23    11
10  2012            ChristmasDay          1  25    12
11  2013             NewYearsDay          1  01    01
12  2013  MartinLutherKingJr.Day          0  21    01
13  2013          Presidents'Day          0  18    02
14  2013             MemorialDay          0  27    05
15  2013         IndependenceDay          3  04    07
16  2013                LaborDay          0  02    09
17  2013             ColumbusDay          0  14    10
18  2013             VeteransDay          0  11    11
19  2013            Thanksgiving          3  28    11
20  2013            ChristmasDay          2  25    12
21  2014             NewYearsDay          2  01    01
22  2014  MartinLutherKingJr.Day          0  20    01
23  2014          Presidents'Day          0  17    02
24  2014             MemorialDay          0  26    05
25  2014         IndependenceDay          4  04    07
26  2014                LaborDay          0  01    09
27  2014             ColumbusDay          0  13    10
28  2014             VeteransDay          1  11    11
29  2014            Thanksgiving          3  27    11
30  2014            ChristmasDay          3  25    12

In [262]:
holiday['date'] = holiday['year'].astype(str) + '-' + holiday['month'].astype(str) + '-' + holiday['day'].astype(str)

In [263]:
holiday = pd.DataFrame(holiday, columns=['date', 'dayofweek', 'holiday'])

# Merge data with holiday

In [270]:
# holiday
holiday

          date  dayofweek                 holiday
0   2012-01-02          0     NewYearsDay(inlieu)
1   2012-01-16          0  MartinLutherKingJr.Day
2   2012-02-20          0          Presidents'Day
3   2012-05-28          0             MemorialDay
4   2012-07-04          2         IndependenceDay
5   2012-09-03          0                LaborDay
6   2012-10-08          0             ColumbusDay
7   2012-11-12          0             VeteransDay
8   2012-11-22          3            Thanksgiving
9   2012-11-23          4    DayafterThanksgiving
10  2012-12-25          1            ChristmasDay
11  2013-01-01          1             NewYearsDay
12  2013-01-21          0  MartinLutherKingJr.Day
13  2013-02-18          0          Presidents'Day
14  2013-05-27          0             MemorialDay
15  2013-07-04          3         IndependenceDay
16  2013-09-02          0                LaborDay
17  2013-10-14          0             ColumbusDay
18  2013-11-11          0             VeteransDay
19  2013-11-28          3            Thanksgiving
20  2013-12-25          2            ChristmasDay
21  2014-01-01          2             NewYearsDay
22  2014-01-20          0  MartinLutherKingJr.Day
23  2014-02-17          0          Presidents'Day
24  2014-05-26          0             MemorialDay
25  2014-07-04          4         IndependenceDay
26  2014-09-01          0                LaborDay
27  2014-10-13          0             ColumbusDay
28  2014-11-11          1             VeteransDay
29  2014-11-27          3            Thanksgiving
30  2014-12-25          3            ChristmasDay

In [271]:
# data
data.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,store_nbr,item_nbr,units,Cdsm_Ch
0,1,2012-01-01,52,31,42,M,36,40,23,0,...,0.05,29.78,29.92,3.6,20,4.6,1,1,0,Abnormal
1,1,2012-01-01,52,31,42,M,36,40,23,0,...,0.05,29.78,29.92,3.6,20,4.6,1,2,0,Abnormal
2,1,2012-01-01,52,31,42,M,36,40,23,0,...,0.05,29.78,29.92,3.6,20,4.6,1,3,0,Abnormal
3,1,2012-01-01,52,31,42,M,36,40,23,0,...,0.05,29.78,29.92,3.6,20,4.6,1,4,0,Abnormal
4,1,2012-01-01,52,31,42,M,36,40,23,0,...,0.05,29.78,29.92,3.6,20,4.6,1,5,0,Abnormal

In [272]:
data_2 = pd.merge(data, holiday)

In [273]:
data_2

Empty DataFrame
Columns: [station_nbr, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed, store_nbr, item_nbr, units, Cdsm_Ch, dayofweek, holiday]
Index: []

[0 rows x 26 columns]

### For ë¬¸ ëŒë ¤ì„œ...?

In [274]:
def apply_holiday(date):
    if date == holiday['date'].astype(str):
        return True
    else:
        False

In [275]:
data['holiday'] = data['date'].apply(apply_holiday)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().